# Builds
**/build
**/dist
**/static
**/generated

packages/*/subgraph.yaml

# Node.js
**/node_modules
.node_repl_history
.npm
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Linters
**/.eslintcache
**/.stylelintcache

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.env
.env.*
!.env.example

# Next.js
**/.next
**/.vercel
**/next-env.d.ts

# TypeScript cache
*.tsbuildinfo

# VSCode
.vscode/
