# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: sablier-lockup
unordered_multichain_mode: true
field_selection:
  transaction_fields:
    - "from"
    - "to"
    - "hash"
    - "transactionIndex"
contracts:
  - name: LockupV20
    handler: src/mappings/index.ts
    events:
      - event: Approval(address indexed owner, address indexed approved, uint256 indexed tokenId)
      - event: ApprovalForAll(address indexed owner, address indexed operator, bool approved)
      - event:
          CancelLockupStream(uint256 indexed streamId, address indexed sender, address indexed recipient, uint128
          senderAmount, uint128 recipientAmount)
      - event:
          CreateLockupLinearStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128,uint128) amounts, address indexed asset, bool cancelable, (uint40,uint40,uint40) range,
          address broker)
      - event:
          CreateLockupDynamicStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128,uint128) amounts, address indexed asset, bool cancelable, (uint128,uint64,uint40)[] segments,
          (uint40,uint40) range, address broker)
      - event: RenounceLockupStream(uint256 indexed streamId)
      - event: Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
      - event: TransferAdmin(address indexed oldAdmin, address indexed newAdmin)
      - event: WithdrawFromLockupStream(uint256 indexed streamId, address indexed to, uint128 amount)
  - name: LockupV21
    handler: src/mappings/index.ts
    events:
      - event: Approval(address indexed owner, address indexed approved, uint256 indexed tokenId)
      - event: ApprovalForAll(address indexed owner, address indexed operator, bool approved)
      - event:
          CancelLockupStream(uint256 streamId, address indexed sender, address indexed recipient, address indexed asset,
          uint128 senderAmount, uint128 recipientAmount)
      - event:
          CreateLockupLinearStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128,uint128) amounts, address indexed asset, bool cancelable, bool transferable,
          (uint40,uint40,uint40) range, address broker)
      - event:
          CreateLockupDynamicStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128,uint128) amounts, address indexed asset, bool cancelable, bool transferable,
          (uint128,uint64,uint40)[] segments, (uint40,uint40) range, address broker)
      - event: RenounceLockupStream(uint256 indexed streamId)
      - event: Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
      - event: TransferAdmin(address indexed oldAdmin, address indexed newAdmin)
      - event:
          WithdrawFromLockupStream(uint256 indexed streamId, address indexed to, address indexed asset, uint128 amount)
  - name: LockupV22
    handler: src/mappings/index.ts
    events:
      - event: Approval(address indexed owner, address indexed approved, uint256 indexed tokenId)
      - event: ApprovalForAll(address indexed owner, address indexed operator, bool approved)
      - event:
          CancelLockupStream(uint256 streamId, address indexed sender, address indexed recipient, address indexed asset,
          uint128 senderAmount, uint128 recipientAmount)
      - event:
          CreateLockupLinearStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128) amounts, address indexed asset, bool cancelable, bool transferable,
          (uint40,uint40,uint40) timestamps, address broker)
      - event:
          CreateLockupDynamicStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128) amounts, address indexed asset, bool cancelable, bool transferable,
          (uint128,uint64,uint40)[] segments, (uint40,uint40) timestamps, address broker)
      - event:
          CreateLockupTranchedStream(uint256 streamId, address funder, address indexed sender, address indexed recipient,
          (uint128,uint128) amounts, address indexed asset, bool cancelable, bool transferable,
          (uint128,uint40)[] tranches, (uint40,uint40) timestamps, address broker)
      - event: RenounceLockupStream(uint256 indexed streamId)
      - event: Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
      - event: TransferAdmin(address indexed oldAdmin, address indexed newAdmin)
      - event:
          WithdrawFromLockupStream(uint256 indexed streamId, address indexed to, address indexed asset, uint128 amount)
networks:
  {{#chains}}
  - id: {{id}}
    start_block: {{start_block}}
    contracts:
      {{#V20.available}}
      - name: LockupV20
        address:
          {{#V20.linear}}
          - {{address}}
          {{/V20.linear}}
          {{#V20.dynamic}}
          - {{address}}
          {{/V20.dynamic}}
      {{/V20.available}}
      {{#V21.available}}
      - name: LockupV21
        address:
          {{#V21.linear}}
          - {{address}}
          {{/V21.linear}}
          {{#V21.dynamic}}
          - {{address}}
          {{/V21.dynamic}}
      {{/V21.available}}
      {{#V22.available}}
      - name: LockupV22
        address:
          {{#V22.linear}}
          - {{address}}
          {{/V22.linear}}
          {{#V22.dynamic}}
          - {{address}}
          {{/V22.dynamic}}
          {{#V22.tranched}}
          - {{address}}
          {{/V22.tranched}}
      {{/V22.available}}
   {{/chains}}
